.hero-section {
  position: relative;
  min-height: 80vh;
  width: 100%;
  background-image: url('../assets/images/portbg.jpg');
  background-size: contain 100%;
  background-position:center center;
  background-repeat: no-repeat;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

 