@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --knicks-blue: #006bb6;
  --knicks-orange: #f58426;
  --knicks-silver: #bec0c2;
  --knicks-black: #000000;
  --knicks-white: #ffffff;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;   
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}
