@use "../components/buttons";
@use "../abstracts/colors";
@use "../abstracts/mixins";


header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .logo {
      img {
        border-radius: 999px;
        max-width: 10rem;
      }
    }
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-right: 1rem;

      li {
        margin-inline: 1rem;
        width: 100%;
        height:100%;
      }
    }
    background-color: #fff;
    color: black;
  }
}
